SLACK_BOT_USER_OAUTH_TOKEN: xoxb-blabla-blabla

SLACK_APP_ID: Appidblabla
SLACK_CLIENT_ID: 123.123
SLACK_CLIENT_SECRET: secretmakesanappanapp
SLACK_SIGNING_SECRET: signingsecret

RANDOM_CHANNEL_ID: C43214321
GENERAL_CHANNEL_ID: D12341234

SLACK_EVENTS_ENDPOINT: /slack/events
SLACK_APP_PORT: 3000
